<div class="container registration-container">

	<form name="registration" #f="ngForm">
		<div class="form-group">
			<label for="exampleFormControlInput1">First Name</label>
			<input type="text" class="form-control" name="exampleFormControlInput1" [(ngModel)]="model.firstname" #firstname="ngModel">
		</div>

		<div class="form-group">
			<label for="exampleFormControlInput1">Last name</label>
			<input type="text" class="form-control" name="exampleFormControlInput1" [(ngModel)]="model.lastname" #lastname="ngModel">
		</div>

		<div class="form-group">
			<label for="exampleFormControlInput1">Email</label>
			<input type="text" class="form-control" name="exampleFormControlInput1" [(ngModel)]="model.email" #email="ngModel">
		</div>

		<div class="form-group">
			<label for="exampleFormControlInput1">Username</label>
			<input type="text" class="form-control" name="exampleFormControlInput1" [(ngModel)]="model.username" #username="ngModel">
		</div>

		<div class="form-group">
			<label for="exampleFormControlInput1">Password</label>
			<input type="email" class="form-control" name="exampleFormControlInput2" [(ngModel)]="this.model.password" #password="ngModel">
		</div>

		<button type="button" class="btn btn-primary" style="width: 100%;" (click)="register();">Register</button>
		<div style="text-align: center;padding: 10px;">
			<a uiSref="login" style="width: 100%;">Back to login</a>
		</div>

	</form>

</div>