<!-- <div class="container login-container">
	<div class="jumbotron login-container-header">
		<h1>Welcome</h1>
		<h2>Angular & Bootstrap Demo</h2>
	</div>  


	<form name="login" [formGroup]="heroForm" novalidate>
		<div class="form-group">
			<label for="userName">Username</label>
			<input type="text" class="form-control" name="username" required minlength="4" formControlName="username">


			<div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

				<div *ngIf="username.errors.required">
			    	Name is required.
			  	</div>
			  	<div *ngIf="username.errors.minlength">
			    	Name must be at least 4 characters long.
			  	</div>
			  
			</div>
		</div>

		<div class="form-group">
			<label for="passWord">Password</label>
			<input type="email" class="form-control" name="passWord" required formControlName="password">

			<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

				<div *ngIf="password.errors.required">
			    	Password is required.
			  	</div>
			  
			</div>

		</div>

		<button type="button" class="btn btn-primary" style="width: 100%;" (click)="login();">Login</button>
		<div style="text-align: center;padding: 10px;">
			<a uiSref="registration" style="width: 100%;">Register</a>
		</div>

	</form>

</div> -->

<div class="container login-container">
	<div class="jumbotron login-container-header">
		<h1>Welcome</h1>
		<h2>Angular & Bootstrap Demo</h2>
	</div>  


	<form name="login" #f="ngForm" (ngSubmit)="submitForm(complexForm.value)">
		<div class="form-group">
			<label for="userName">Username</label>
			<input type="text" class="form-control" name="userName" [(ngModel)]="model.username" #username="ngModel" required minlength="4" >


			<div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

				<div *ngIf="username.errors.required">
			    	Name is required.
			  	</div>
			  	<div *ngIf="username.errors.minlength">
			    	Name must be at least 4 characters long.
			  	</div>
			  
			</div>
		</div>

		<div class="form-group">
			<label for="passWord">Password</label>
			<input type="email" class="form-control" name="passWord" [(ngModel)]="this.model.password" #password="ngModel" required>

			<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

				<div *ngIf="password.errors.required">
			    	Password is required.
			  	</div>
			  
			</div>

		</div>

		<button type="button" class="btn btn-primary" style="width: 100%;" (click)="login();">Login</button>
		<div style="text-align: center;padding: 10px;">
			<a uiSref="registration" style="width: 100%;">Register</a>
		</div>

	</form>

</div>