<div class="container" style="width: 100%;">
	<h3>
	  Angular 2 Broadcast Example
	</h3>

	<main>
		<child [childID]="1">
			<child [childID]="2"></child>
		  	<child [childID]="3"></child>
	  	</child>	  
	</main>
</div>