<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
	<div style="padding-top: 25px;">
	   	<a uiSref="dashboard" uiSrefActive="active" (click)="closeNav()">Dashboard</a>
	   	<a uiSref="dashboard.broadcast" uiSrefActive="active" (click)="closeNav()">Broadcast</a>
	   	<a uiSref="dashboard.quick" uiSrefActive="active" (click)="closeNav()">Quick Recipes</a>
	   	<a uiSref="dashboard.breakFast" uiSrefActive="active" (click)="closeNav()">Breakfast Recipes</a>
	   	<a uiSref="dashboard.lunch" uiSrefActive="active" (click)="closeNav()">Lunch Recipes</a>
	   	<a uiSref="dashboard.dinner" uiSrefActive="active" (click)="closeNav()">Dinner Recipes</a>
   	</div>
 </div>

<div class="main">	
	<div style="background-color: #A80000  ;padding: 15px;">
		<span style="font-size:30px;cursor:pointer;color: wheat;" (click)="openNav()">&#9776; Let's Cook</span>	
	</div>
	<div style="padding: 10px;">
		<ui-view></ui-view>		
	</div> 	
</div>